<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Hapi</title>
</head>
<body>
    <h3>Update</h3>
    <form method="post" action="/update/<%= user._id%>" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter name ..." value="<%= user.name%>" />
        <input type="number" name="age" min="10" max="90" placeholder="Enter age ..." value="<%= user.age%>" />
        <button type="submit">Update</button>
    </form>
</body>
</html>